<div class="login_container">
    <div class="login__box card">
        <div class="row">
            <div class="login__title"> Registrarse </div>
        </div>
        <div class="row">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" [(ngModel)]="username" class="form-control" id="username">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" [(ngModel)]="password"  class="form-control" id="password" >
            <br>
            <button class="btn btn-info" (click)="signup()"> Registrarse </button>
        </div>
        <div class="already__registered">
            ¿Ya tienes un usuario?
            <br>
            <a [routerLink]="['../login']">Iniciar sesión</a>
        </div>
    </div>
</div>
